/* Font faces for Inter font */
@import url('@fontsource-variable/inter');

/* Shiki dark theme */
@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

:root {
  /* Colors */
  --color-text: light-dark(oklch(22.93% 0.01 255.6), oklch(97.3% 0.01 268.55));
  --color-border: light-dark(oklch(22.61% 0.02 264.02 / 0.08), oklch(95.38% 0.02 274.74 / 0.12));
  --color-accent: light-dark(oklch(57.5% 0.23 264.35), oklch(73.76% 0.13 269.37));

  /* Layout */
  --max-width: min(860px, 92vw);

  /* Spacings */
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;

  /* Borders */

  --border-radius-8: 8px;

  /* Misc */
  --outline: 2px solid color-mix(in oklch, var(--color-accent) 80%, transparent);
  --outline-offset: 2px;

  @media (prefers-color-scheme: dark) {
    --color-scheme: 🌚;
    color-scheme: dark;
  }

  @media (prefers-color-scheme: light) {
    --color-scheme: 🌞;
    color-scheme: light;
  }
}

::view-transition-group(root) {
  animation-duration: 0.15s;
}

* {
  box-sizing: inherit;
}

a {
  line-height: 24px;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Inter Variable', sans-serif;
  color-scheme: light dark;
  box-sizing: border-box;
  background-color: light-dark(oklch(97.64% 0 286.38), oklch(18.34% 0.01 276.41));
  color: var(--color-text);
}

button {
  &:focus-visible {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
  }
}