---
import Layout from '@/layouts/Layout.astro'
import SocialButton from '@/components/SocialButton.astro'
import LatestPost from '@/components/LatestPost.astro'
import { getCollection } from 'astro:content'

const blogPosts = await getCollection('blogPosts')
const lastThreePosts = blogPosts.slice(-3).toReversed()
---

<Layout 
	pageTitle="Perdblog"
	metaDescription="A blog about stuff"
>
	<div class="social-buttons">
		<SocialButton type="github" />
		<SocialButton type="linkedin" />
		<SocialButton type="twitch" />
		<SocialButton type="telegram" />
	</div>

	<h2>Latest posts</h2>

	<div class="latest-posts">
		{lastThreePosts.map((post) => (
			<LatestPost 
				title={post.data.title} 
				description={post.data.description} 
				postId={post.id} 
				date={post.data.date}
			/>
		))}
	</div>
</Layout>

<style>
	.social-buttons {
		display: flex;
		gap: var(--spacing-8);
	}

	h2 {
		margin-top: var(--spacing-32);
	}

	.latest-posts {
		display: grid;
		row-gap: var(--spacing-16);
	}
</style>