---
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import LatestPosts from '@/components/LatestPosts.astro'
import NoLatestPosts from '@/components/NoLatestPosts.astro'
import SocialLinks from '@/components/SocialLinks.astro'
import AboutMe from '@/components/AboutMe.astro'

const blogPosts = await getCollection('blogPosts')

const sortedPosts = blogPosts.toSorted(
  (postA, postB) => postB.data.date.getTime() - postA.data.date.getTime()
)

const lastThreePosts = sortedPosts.slice(0, 3)
const hasPosts = lastThreePosts.length > 0
---

<Layout
  pageTitle="Perdolique ðŸ•ðŸ’¨"
  metaDescription="Frontend enthusiast passionate about sleek UI, human-readable code, and modern web tech. Turning tea and TypeScript into elegant, reliable interfaces."
>
  <div class="container">
    <AboutMe />

    <SocialLinks />

    <div class="posts-section">
      <h2>Latest posts</h2>

      {hasPosts ? <LatestPosts posts={lastThreePosts} /> : <NoLatestPosts />}
    </div>
  </div>
</Layout>

<style>
  .container {
    display: grid;
    row-gap: var(--spacing-32);
    container-type: inline-size;
  }

  .posts-section {
    display: grid;
    row-gap: var(--spacing-16);
  }
</style>
