---
import { Icon } from 'astro-icon/components'

type SocialType = 'github' | 'linkedin' | 'twitch' | 'telegram';

interface Props {
  type: SocialType;
}

const { type } = Astro.props

function getButtonData(type: SocialType) {
  switch (type) {
    case 'github': {
      return {
        url: 'https://github.com/Perdolique',
        label: 'Visit my GitHub profile',
        iconName: 'logos:github-icon'
      }
    }

    case 'linkedin': {
      return {
        url: 'https://linkedin.com/in/perdolique/',
        label: 'Visit my LinkedIn profile',
        iconName: 'logos:linkedin-icon'
      }
    }

    case 'twitch': {
      return {
        url: 'https://www.twitch.tv/perdolique',
        label: 'Visit my Twitch channel',
        iconName: 'logos:twitch'
      }
    }

    case 'telegram': {
      return {
        url: 'https://t.me/perdTV',
        label: 'Visit my Telegram channel',
        iconName: 'logos:telegram'
      }
    }
  }
}

const data = getButtonData(type)
---

<a
  href={data.url}
  target="_blank"
  aria-label={data.label}
  rel="noopener"
>
  <Icon
    name={data.iconName}
    aria-hidden="true"
  />
</a>

<style>
  a {
    width: 48px;
    aspect-ratio: 1;
    display: inline flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-16);
    color: var(--color-text);
    transition:
      background-color var(--transition-quick) var(--transition-easing),
      border-color var(--transition-quick) var(--transition-easing),
      translate var(--transition-quick) var(--transition-easing);

    @container (width > 600px) {
      width: 56px;
    }

    &:hover {
      background-color: var(--color-background-hover);
      border-color: var(--color-border-hover);
      translate: 0 -2px;
    }

    &:focus-visible {
      outline: var(--outline);
      outline-offset: var(--outline-offset);
    }
  }

  [data-icon] {
    width: 24px;
    height: 24px;

    @container style(--color-scheme: 🌚) {
      &[data-icon="logos:github-icon"] {
        filter: invert(1);
      }
    }

    @container (width > 600px) {
      width: 28px;
      height: 28px;
    }
  }
</style>
