---
import SocialButton from './SocialButton.astro'
---

<div>
  <SocialButton type="github" />
  <SocialButton type="linkedin" />
  <SocialButton type="twitch" />
  <SocialButton type="telegram" />
</div>

<style>
  div {
    display: flex;
    container-type: inline-size;
  }
</style>
